<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SturdyURL-Shortner</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


      
    <div class="container">
        <h1>SturdyURL-Shortner</h1>


    <form action="/shortenurl" method="POST" class="form-inline">

    <input type="text" name="long" placeholder="Enter Long URL" class="form-control">
    <input type="submit" value="Shorten" class="btn-success center">
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Long URL</th>
            <th>Short URL</th>
            <th>No of Clicks</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>https://saidurgakameshkota.tech</td>
            <td>https://hs.te/q2e4</td>
            <td>98</td>
        </tr>
        </tbody>
    </table>

    </div>
</body>
</html>